<p>home works!</p>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam exercitationem e
xcepturi, recusandae fuga assumenda ipsam nobis in perspiciatis ullam atque dolorem, necessitatibus q
uas. Nobis eius, quia corporis neque ab fuga nulla? Odio amet ut asperiores, expedita praesentium quibusdam
 minus delectus deleniti quia magni fugiat facilis a sapiente 
officia illo voluptatum cupiditate maxime. Excepturi dolorum cum aperiam nostrum delectus, aliquid eveniet.
<a href="categories" ><button id="explore">Explore</button></a>